{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{%
  set branding_classes = [
    'block',
    'block-branding',
  ]
%}

{% block container_classes %}
  <div{{ attributes.addClass(branding_classes) }}>
{% endblock %}

{% block content %}
  {% if site_logo %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-logo">
      <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
    </a>
  {% endif %}
  <div class="branding-text">
    {% if theme_site_name %}
      <div class="site-name">
        {{- theme_site_name -}}
      </div>
    {% endif %}
    {% if theme_site_slogan %}
      <div class="site-slogan">
        {{- theme_site_slogan -}}
      </div>
    {% endif %}
  </div>
{% endblock %}